</div>

<div class="footer row">
  <div class="col-lg-12">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 footer-logo">
          <img src="/logo-footer.png" />
        </div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-3 links">
              <p><strong>Ligue-se a nós</strong></p>
              <ul class="list-group">
                <li><a href="https://www.facebook.com/cryptonext" target="_blank">Facebook</a></li>
                <li><a href="https://twitter.com/cryptonext" target="_blank">Twitter</a></li>
                <li><a href="https://plus.google.com/cryptonext" target="_blank">Google+</a></li>
		<li><a href="http://bitcointalk.org" target="_blank">BitcoinTalk</a></li>
		<li><a href="http://cryptoescudotalk.com" target="_blank">CryptoescudoTalk</a></li>
              </ul>
            </div>

            <div class="col-lg-3 links">
              <p><strong>Recusros</strong></p>
              <ul class="list-group">
                <li><a href="https://www.youtube.com/watch?v=PrK-152xfy0" target="_blank">O que é o Bitcoin?</a></li>
                <li><a href="https://ripple.com/about-ripple/" target="_blank">O que é o Ripple?</a></li>
                <li><a href="http://reddit.com/r/bitcoin" target="_blank">Reddit Bitcoin</a></li>
              </ul>
            </div>

            <div class="col-lg-3 links">
              <p><strong>Empresa</strong></p>
              <ul class="list-group">
                <li><a href="faq">F.A.Q.</a></li>
                <li><a href="about">Sobre</a></li>
                <li><a href="terms">Termos</a></li>
				<li><a href="http://wiki.cryptonext.plentygadget.com" target="_blank">Wiki</a></li>
                <li><a href="privacy">Política de Privacidade</a></li>
                <li><a href="contact">Contactos</a></li>
              </ul>
            </div>
			<div class="col-lg-3 links">
              <p><strong>Linguas</strong></p>
              <ul class="list-group">
                <li><a href="../en/">English</a></li>
                <li><a href=".">Português</a></li>
				<li><a href="../es/">Castellano</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
