<% include partials/header-es.ejs %>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Acerca CryptoNext</h1>
      </div>
    </div>
    <div class="row">
      <div class=col-md-6>
        <p class="lead">
        CryptoNext es un cambio de moneda digital, fundada en 2014 con sede en Lisboa, Portugal. CryptoNext es únicamente un intermediario y no comprar o vender divisas.
        </p>

        <p>
          CryptoNext es fundada por Hugo Rodrigues y Relaciones Públicas. Relaciones Públicas es director general y responsable de la administración, liquidación diaria y el apoyo no técnico. Relaciones Públicas tiene 27 años y tiene un grado de Maestría en Finanzas de la Escuela de Negocios de Portugal. Hugo es CTO desarrollador / plomo de CryptoNext y creador del proyecto de código abierto CryptoNext, que CryptoNext se basa en. Hugo se ha graduado de la Universidad de Lisboa, con una licenciatura en ciencias de la computación. Hugo es un programador muy experimentado.
        </p>

        <p>See the <a href="contact">página de contacto</a> si desea ponerse en contacto CryptoNext.</p>
      </div>
      <div class="col-md-4 well">
        <h3>Facts</h3>
        <table>
          <tr>
            <th>Fundada</th>
            <td>May 7th, 2013</td>
          </tr>
          <tr>
            <th>Empleados</th>
            <td>2 tiempo completo</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
<% include partials/footer-es.ejs %>
