<% include partials/header-pt.ejs %>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>About CryptoNext</h1>
      </div>
    </div>
    <div class="row">
      <div class=col-md-6>
        <p class="lead">
        CryptoNext é uma Exchange de moedas digistais fundada em 2014, com escritórios em Lisboa, Portugal. CryptoNext é somente um intermediário, não vende nem compra moeda.
        </p>

        <p>
          CryptoNext foi fundada por Hugo Rodrigues and Public Relations. Public Relations is CEO and responsible for administration, daily settlement and non-technical support. Public Relations is 27 years old and holds a Master's degree in finance from the Portuguese Business School. Hugo is CTO/lead developer of CryptoNext and creator of the open source project CryptoNext, which CryptoNext is based on. Hugo has graduated from the University of Lisbon with a bachelor degree in computer science. Hugo is a highly experienced programmer.
        </p>

        <p>See the <a href="contact">contact page</a> if you wish to contact CryptoNext.</p>
      </div>
      <div class="col-md-4 well">
        <h3>Facts</h3>
        <table>
          <tr>
            <th>Founded</th>
            <td>May 7th, 2013</td>
          </tr>
          <tr>
            <th>Employees</th>
            <td>2 full-time</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
<% include partials/footer-pt.ejs %>
