<% include partials/header-es.ejs %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Cómo ponerse en contacto CryptoNext</h1>

      <h3>Atención al cliente</h3>

      <p>
        <a href="mailto:support@cryptonext.com">support@cryptonext.com</a>
      </p>

      <h3>prensa</h3>

      <p>
        <a href="mailto:rp@cryptonext.com">rp@cryptonext.com</a>
      </p>

      <h3>Consultas comerciales</h3>

      <p>
        <a href="mailto:hello@cryptonext.com">hello@cryptonext.com</a>
      </p>

      <h3>En caso de emergencia</h3>

      <p>
        <a href="mailto:security@cryptonext.com">security@cryptonext.com</a>
      </p>
    </div>
  </div>
</div>

<% include partials/footer-es.ejs %>
