<% include partials/header-en.ejs %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Contacting CryptoNext</h1>

      <h3>Customer support</h3>

      <p>
        <a href="mailto:support@cryptonext.com">support@cryptonext.com</a>
      </p>

      <h3>Press</h3>

      <p>
        <a href="mailto:rp@cryptonext.com">rp@cryptonext.com</a>
      </p>

      <h3>Business inquiries</h3>

      <p>
        <a href="mailto:hello@cryptonext.com">hello@cryptonext.com</a>
      </p>

      <h3>Security Emergency Contact</h3>

      <p>
        <a href="mailto:security@cryptonext.com">security@cryptonext.com</a>
      </p>
    </div>
  </div>
</div>

<% include partials/footer-en.ejs %>
