<% include partials/header-es.ejs %>
  <div class="cover row">
    <div class="cover-content col-md-12" style="text-align:center">
      <p class="tagline">
        Compra y comercio Bitcoin y Litecoin
      </p>
      <p class="sub-tagline">
        0% comisión por operaciones a través de 2014 con CESC
      </p>

      <a class="cta btn-success btn" href="/client/#auth/register">Comience con CryptoNext</a>
    </div>
  </div>
  <div class="customer-count row">
    <strong class="user-count">10 000</strong> Usuarios
  </div>

  <div class="vias container">
    <div class="col-md-4">
      <p class="icon-container"><i class="fa fa-star fa-5"></i></p>
      <h3>Fácil de Usar</h3>
      <p>Si usted acaba de entrar en Bitcoin o un operador con experiencia, es rápido para configurar una cuenta y fácil de comenzar a operar.</p>
    </div>
    <div class="col-md-4">
      <p class="icon-container"><i class="fa fa-bitcoin fa-5"></i></p>
      <h3>00% Comisión de Trading</h3>
      <p>A través de 2014 hay comisión por operaciones a 0% para CESC en CryptoNext. Para otras monedas, el costo es de sólo el 0,5% por el comercio.</p>
    </div>
    <div class="col-md-4">
      <p class="icon-container"><i class="fa fa-lock fa-5"></i></p>
      <h3>Seguridad Superior</h3>
      <p>Con CryptoNext, más del 90% de los recursos de clientes se almacenan en una cámara acorazada a prueba de fuego. Su seguridad es siempre nuestra principal prioridad.</p>
    </div>
  </div>

  <hr>

  <div class="container testimonials"  style="text-align:center">
    <div>
      <h3>Nuestros clientes dicen</h3>
    </div>
    <div class="testimonial">
      <div class="quote">
            <span class="before-quote">“</span>Bla!! Bla!! Bla!! Bla!! Bla!! Bla!! Bla!! Bla!! Bla!! Bla!! Bla!! Bla!! Bla!! <span class="after-quote">”</span>
          </div>
      <div class="quoter">
        Hugo R. de Portugal
      </div>
    </div>
  </div>
<% include partials/footer-es.ejs %>

