<% include partials/header-pt.ejs %>
  <div class="cover row">
    <div class="cover-content col-md-12" style="text-align:center">
      <p class="tagline">
        Compre e troque Bitcoin e Litecoin
      </p>
      <p class="sub-tagline">
        0% de comissões durante 2014 para CESC
      </p>

      <a class="cta btn-success btn" href="/client/#auth/register">Comece com CryptoNext</a>
    </div>
  </div>


  <div class="customer-count row">
    <strong class="user-count">10 000</strong> Utilizadores
  </div>

  <div class="vias container">
    <div class="col-md-4">
      <p class="icon-container"><i class="fa fa-star fa-5"></i></p>
      <h3>Fácil de Usar</h3>
      <p>Se está apenas a começar com o Bitcoin ou é um profissional experiente, é fácil e rápido criar uma conta e começar a negociar.</p>
    </div>
    <div class="col-md-4">
      <p class="icon-container"><i class="fa fa-bitcoin fa-5"></i></p>
      <h3>0% Trading Fee</h3>
      <p>Durante 2014 0% de comissão para Cesc na CryptoNext. Para outras Moedas, a comissão é só de 0.5% por negócio.</p>
    </div>
    <div class="col-md-4">
      <p class="icon-container"><i class="fa fa-lock fa-5"></i></p>
      <h3>Segurança Superior</h3>
      <p>Na CryptoNext, mais de 90% dos fundos dos nossos clientes estão guardados num cofre à prova de fogo. A Vossa segurança é sempre a principal prioridade.</p>
    </div>
  </div>

  <hr>

  <div class="container testimonials"  style="text-align:center">
    <div>
      <h3>Our customers say</h3>
    </div>
    <div class="testimonial">
      <div class="quote">
            <span class="before-quote">“</span>Bla!! Bla!! Bla!! Bla!! Bla!! Bla!! Bla!! Bla!! Bla!! Bla!! Bla!! Bla!! Bla!! Bla!! Bla!! <span class="after-quote">”</span>
          </div>
      <div class="quoter">
        Hugo R. from Portugal
      </div>
    </div>
  </div>
<% include partials/footer-pt.ejs %>
