<% include partials/header-es.ejs %>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <h1 id="privacy-policy">Política de privacidad</h1>

          <h2 id="personal-information">Información personal</h2>

          <ul>
          <li>Mediante el uso de CryptoNext usted acepta que CryptoNext recopilará su información personal. Esto implica el nombre completo; abordar; número de teléfono; dirección de correo electrónico; detalles de cuentas bancarias y antecedentes comerciales. También podemos solicitar una identificación con fotografía; fecha de nacimiento, estados de cuenta bancarios o cualquier otra documentación utilizada únicamente con el propósito de verificar la identificación.</li>
          <li>No compartiremos su información personal con nadie, a no ser solicitado por la policía o las autoridades reguladoras, si es requerido por la ley. Podemos compartir la información personal de los miembros en el caso de una fusión, desinversión u otro tipo de reorganización de CryptoNext, a quienes participan en este proceso.</li>
          </ul>
      </div>
    </div>
  </div>
<% include partials/footer-es.ejs %>
