<% include partials/header-en.ejs %>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 id="terms-of-use">Condiciones de uso</h1>
        <p>Última actualización: 2014-10-01</p>
        <h2 id="general-terms">Condiciones generales</h2>
        <ul>
        <li>Al registrar una cuenta en CryptoNext todos los usuarios aceptan estos términos y garantiza que se tengan al menos 18 años de edad y son capaces de comprender el contenido de estos términos.</li>
        <li>Toda la información personal enviada a CryptoNext debe ser correcta. Cuentas registradas con información falsa serán terminados. Cada persona sólo puede registrar una cuenta. Su cuenta es personal y sólo puede ser utilizado por usted.</li>
        <li>CryptoNext no se hace responsable de ninguna pérdida directa o indirecta de lucro, daño o pérdida de datos causada por problemas técnicos, fallos de funcionamiento, e interrumpió la conexión a Internet o similar.</li>
        <li>Un vendedor o comprador en CryptoNext garantiza que legítimamente poseen los fondos depositados a CryptoNext, adquiridos de fuentes legales.</li>
        <li>Vamos a ofrecer en ningún momento la orientación de inversión o dar consejos de inversión a los usuarios. Somos únicamente un intermediario y no aceptamos ninguna responsabilidad en las inversiones de los miembros.</li>
        <li>No permitimos ni apoyamos el uso de CryptoNext como una herramienta en el blanqueo de capitales o la financiación de proyectos o inversiones ilegales. Si consideramos que dicha actividad está presente vamos a suspender y / o cancelar la cuenta. CryptoNext no confiscar los fondos de los miembros suspendidos; nosotros los volveremos a miembro tan rápido y barato como sea posible.</li>
        <li>No se permite el uso de CryptoNext que crea un vínculo entre CryptoNext y servicios que no cumplan con las leyes portuguesas. En el ejemplo: <strong>él isnot permitido utilizar CryptoNext como intermediario para comprar productos farmacéuticos o armas ilegales en línea</strong>.</li>
        <li>CryptoNext reservarse el derecho de suspender y / o cancelar una cuenta sin previo aviso o razón si se considera violación de los términos de estar presente. Los fondos siempre serán devueltos a miembro antes de la terminación.</li>
        </ul>
        <h2 id="fee-table">Tabla de cuotas</h2>
        <h3 id="trading-fee">Comisión de trading</h3>
        <table>
            <tr>
                <th>BTC/CESC</th>
                <td>0%</td>
                <td>Promoción hasta el 2014</td>
            </tr>
            <tr>
                <th>BTC/LTC</th>
                <td>0.5%</td>
                <td></td>
            </tr>
            <tr>
                <th>BTC/XRP</th>
                <td>0.5%</td>
                <td></td>
            </tr>
        </table>

        <h3 id="deposits">Depósitos</h3>
        <h4 id="sepa">SEPA</h4>
        <table>
            <tr>
                <th>EUR</th>
                <td>~2.50 EUR</td>
            </tr>
        </table>

        <h4 id="non-sepa-international-wire">No SEPA / Transferencia internacional</h4>
        <table>
            <tr>
                <th>USD</th>
                <td>~10.00 USD</td>
            </tr>
            <tr>
                <th>EUR</th>
                <td>~7.50 EUR</td>
            </tr>
        </table>

        

        <h3 id="withdrawals">Retiros</h3>
        <h4 id="sepa_1">SEPA</h4>
        <table>
            <tr>
                <th>EUR</th>
                <td>~5.00 EUR</td>
            </tr>
        </table>

        <h4 id="non-sepa-international-wire_1">No SEPA / Transferencia internacional</h4>
        <table>
            <tr>
                <th>USD</th>
                <td>~14.00 USD</td>
            </tr>
            <tr>
                <th>EUR</th>
                <td>~10.00 EUR</td>
            </tr>
        </table>

        

        <ul>
        <li>Para otra información relativa a depósitos, retiros y el comercio, véase más abajo.</li>
        </ul>
        <h2 id="deposits_1">Depositos</h2>
        <ul>
        <li>Ver "Tabla de cuotas" por encima de las tasas de depósito.</li>
        <li><strong>SEPA</strong>: Aceptamos euros a través de los pagos de la SEPA, a partir de las cuentas registradas en el mismo nombre que su cuenta CryptoNext, desde Albania, Andorra, Bélgica, Bosnia y Herzegovina, Bulgaria, Dinamarca, Estonia, Finlandia, Francia, Islas Feroe, Gibraltar, Groenlandia, Guernsey, Grecia , Irlanda, Islandia, Isla de Man, Italia, Jersey, Croacia, Chipre, Letonia, Liechtenstein, Lituania, Luxemburgo, Macedonia, Malta, Mauricio, Mónaco, Montenegro, Países Bajos, Noruega, Polonia, Portugal, Rumania, San Marino, Serbia, Eslovaquia, Eslovenia, España, Reino Unido, Suiza, Suecia, República Checa, Túnez, Turquía, Alemania, Hungría o Austria. Damos crédito a su cuenta CryptoNext una vez que recibamos el pago, sin demora. El depósito mínimo es de 25 euros.</li>
        <li><strong>Transferencia internacional</strong>:  Actualmente aceptamos transferencias electrónicas internacionales de USD / EUR de EE.UU., Canadá, Australia, Nueva Zelanda, Brasil, Costa Rica, México y Sudáfrica. También aceptamos transferencias electrónicas internacionales de USD de los países europeos. El depósito mínimo es de 25 EUR / USD 35.</li>
        <li><strong>Bitcoin</strong>: Requerimos seis (6) confirmaciones antes de acreditar su cuenta.</li>
        <li><strong>Litecoin</strong>: Requerimos seis (6) confirmaciones antes de acreditar su cuenta.</li>
		<li><strong>Otras monedas cripto</strong>: Requerimos de los sesenta (60) confirmaciones antes de acreditar su cuenta.</li>
        </ul>
        <h2 id="withdrawals_1">Retiros</h2>
        <ul>
        <li>Ver "Tabla de cuotas" por encima de las tasas de abstinencia.</li>
        <li>Realizamos retiros a través de SEPA para nuestros clientes Europeo EUR (países que figuran a continuación), y por medio de transferencia bancaria internacional para EE.UU., Canadá, Australia, Nueva Zelanda, Brasil, Costa Rica, México y Sudáfrica.</li>
        <li>Los retiros se procesan de forma continua y aparecerán en su cuenta dentro de 1-4 días bancarios.</li>
        <li>CryptoNext no son responsables de los honorarios aplicados por el banco receptor.</li>
        <li><strong>SEPA</strong>: Realizamos SEPA-retiros de euros a los siguientes países: Albania, Andorra, Bélgica, Bosnia y Herzegovina, Bulgaria, Dinamarca, Estonia, Finlandia, Francia, Islas Feroe, Gibraltar, Groenlandia, Guernsey, Grecia, Irlanda, Islandia, Isla de Man , Italia, Jersey, Croacia, Chipre, Letonia, Liechtenstein, Lituania, Luxemburgo, Macedonia, Malta, Mauricio, Mónaco, Montenegro, Países Bajos, Noruega, Polonia, Portugal, Rumania, San Marino, Serbia, Eslovaquia, Eslovenia, España, Reino Unido, Suiza, Suecia, República Checa, Túnez, Turquía, Alemania, Hungría y Austria.</li>
        <li><strong>Transferencia internacional</strong>:  Actualmente Procesamos las transferencias cablegráficas internacionales de EUR / USD a EE.UU., Canadá, Australia, Nueva Zelanda, Brasil, Costa Rica, México y Sudáfrica. También procesamos transferencias electrónicas internacionales de USD a los países europeos.</li>
        <li>Bitcoin, Litecoin y Ripple retiros se envían dentro de segundos de ser solicitado.</li>
        </ul>
        <h2 id="trading">Trading</h2>
        <ul>
        <li>Ver "Tabla de cuotas" por encima de las comisiones de operación.</li>
        <li>La cuota de comercio se deduce en la misma moneda que usted está ofreciendo en un comercio. Esto se aplica tanto para el comprador y el vendedor, y para todo tipo de divisa cotiza.</li>
        <li>Las órdenes de canje, una vez emparejados, no son reversibles. Las órdenes de canje podrán ser canceladas en cualquier momento hasta emparejado. Todas las transferencias de Bitcoin, Litecoin o Ripple son finales.</li>
        <li>Trades son anónimas. Usted no será capaz de saber que el comercio con.</li>
        <li>Debido a las restricciones matemáticas no se realizará redondeo aleatorio en cantidades comerciales y los precios cuando se necesiten, lo que los hace no explotable y justo para ambas partes.</li>
        </ul>
        <h2 id="customer-support-guidance">Atención al cliente &amp; orientación</h2>
        <ul>
        <li>Click the question mark in the lower right corner to get in touch with us.</li>
        <li>Haga clic en el signo de interrogación en la esquina inferior derecha para entrar en contacto con nosotros.</li>
        <li>No guiar a los usuarios en los problemas que tienen en otros servicios que CryptoNext.</li>
        <li>Todas las preguntas formuladas por el supervisor durante el soporte están destinadas a resolver el problema de los clientes. Todas las preguntas son de carácter voluntario para responder.</li>
        <li>Información proporcionada por el miembro durante la guía al cliente lo que sugiere la violación de nuestros términos puede ser utilizado para suspender y / o cancelar la cuenta del usuario.</li>
        </ul>
        <h2 id="regulation-and-compliance">Reglamento y el cumplimiento</h2>
        <ul>
        <li>CryptoNext cumplirá con todas y todos los reglamentos que se relaciona con nuestros servicios. Si se han establecido nuevas regulaciones que contradice nuestros Términos de uso, cambiaremos nuestros Términos de uso consecuencia.</li>
        <li>Si un miembro de CryptoNext viole nuestros términos de uso, vamos a suspender y / o terminar su cuenta y devolver los fondos al miembro. Si se solicita legalmente por las autoridades a aprovechar los fondos de un miembro debido a lavado de dinero, financiación de actividades delictivas, fraude u otra, vamos a cumplir en consecuencia.</li>
        <li>Los miembros de CryptoNext son responsables de cumplir con todas las leyes con respecto a impuestos u otras regulaciones sobre su propia actividad comercial.</li>
        </ul>
        <h2 id="security-precautions">Precauciones de seguridad</h2>
        <ul>
        <li>Los usuarios son responsables de elegir una contraseña segura y mantener esto a sí mismos. Las contraseñas utilizadas en otros lugares no se deben utilizar en CryptoNext. CryptoNext no son responsables si una cuenta es mal utilizado debido a la pérdida de la contraseña.</li>
        <li>CryptoNext consume al día y los sistemas de cifrado seguro para garantizar la información y los fondos privados de los miembros. Estos sistemas son revisados​​, probados y actualizados regularmente.</li>
        <li>Le recomendamos que use autenticación de dos factores. Esto se puede activar en la configuración de la cuenta.</li>
        <li>Utilizamos offline carteras para asegurar fondos de los afiliados.</li>
        </ul>
      </div>
    </div>
  </div>
<% include partials/footer-es.ejs %>
